
@model Indspire.Soaring.Engagement.ViewModels.DashboardReports

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<div class="admin-backend__main-header">
    <div class="admin-backend__main-header-title">
        <span class="admin-backend__main-header-title-icon fa fa-tachometer"></span>
        @if (SignInManager.IsSignedIn(User))
        {
            <span class="admin-backend__main-header-title-text">Hello @UserManager.GetUserName(User)</span>
        }
    </div>

    <div class="admin-backend__main-header-actions">

    </div>
</div>



<div class="admin-backend__main-content">

    @if (Model != null)
    {
        <h3>Top 25 Awards</h3>
        @if (Model.AwardsList.Any())
        {

            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Award Number</th>
                        <th>Times Awarded</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.AwardsList)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td>@item.AwardNumber</td>
                            <td>@item.TimesAwards</td>
                        </tr>
                    }

                </tbody>
            </table>
            <a href="/award/list">View All</a>
        }
        else
        {
            <p>None of your Attendees have been awarded points yet.</p>
        }

        <h3>Top 25 Attendees</h3>
        @if (Model.AttendeeList.Any())
        {

            <table class="table">
                <thead>
                    <tr>
                        <th>Attendee Number</th>
                        <th>External ID</th>
                        <th>Points Awarded</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.AttendeeList)
                    {
                        <tr>
                            <td>@item.UserNamber</td>
                            <td>@item.ExternalId</td>
                            <td>@item.Points</td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="/attendee/list">View All</a>
        }
        else
        {
            <p>None of your Attendees have been awarded points yet.</p>
        }


        <h3>Top 25 Redemptions</h3>
        @if (Model.RedemptionsList.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Redemption Number</th>
                        <th>Times Redeemed</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.RedemptionsList)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td>@item.RedemptionNumber</td>
                            <td>@item.TimesRedeemed</td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="/redemption/list">View All</a>
        }
        else
        {
            <p>None of your Attendees have redeemed anything yet.</p>
        }

    }
</div>
