
@model Indspire.Soaring.Engagement.ViewModels.DashboardReports

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<div class="admin-backend__main-header">
    <div class="admin-backend__main-header-title">
        <span class="admin-backend__main-header-title-icon fa fa-tachometer"></span>
        @if (SignInManager.IsSignedIn(User))
        {
            <span class="admin-backend__main-header-title-text">Hello @UserManager.GetUserName(User)</span>
        }
    </div>

    <div class="admin-backend__main-header-actions">

    </div>
</div>



<div class="admin-backend__main-content">

    @if (Model != null)
    {

        @if (Model.AwardsList.Any())
        {
            <h3>Top 25 Awards</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Award Number</th>
                        <th>Times Awarded</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.AwardsList)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td>@item.AwardNumber</td>
                            <td>@item.TimesAwards</td>
                        </tr>
                    }
                </tbody>
            </table>

        }

        @if (Model.UserList.Any())
        {
            <h3>Top 25 Users</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>User Number</th>
                        <th>External ID</th>
                        <th>Points Awarded</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UserList)
                    {
                        <tr>
                            <td>@item.UserNamber</td>
                            <td>@item.ExternalId</td>
                            <td>@item.Points</td>
                        </tr>
                    }
                </tbody>
            </table>

        }

    }
</div>

@*<label>todo</label>
    <ul>
        <li>Listing of Users with Most Points (max 25 to show) w/ link to full leaderboard</li>
        <li>Listing of top Actions performed (max 25 to show) w/ link to full leaderboard</li>
    </ul>*@
