@model Indspire.Soaring.Engagement.Models.Pagination

 @if (Model != null) {

     int numPages = (int)Math.Ceiling(Model.TotalCount / (decimal)Model.PageSize);

     if (Model.Page > 1)
     {
        <li><a class="prev"
                href="@String.Format("{0}{1}{3}={2}&{4}={5}", Model.BaseUrl, Model.QueryStringToken, Model.Page - 1, Model.QueryStringParam, Model.QueryStringPageSizeParam, Model.PageSize)">&laquo;</a></li>
     }

     for (int i = Math.Max(1, Model.Page - 4); i <= Math.Min(numPages, Model.Page + 4); i++)
     {
         if (Model.Page == i)
         {
            <li class="active">@i</li>
         }
         else
         {
            <li><a href="@String.Format("{0}{1}{3}={2}&{4}={5}", Model.BaseUrl, Model.QueryStringToken, i, Model.QueryStringParam, Model.QueryStringPageSizeParam, Model.PageSize)">@i</a></li>
         }
     }

     if (Model.Page * Model.PageSize < Model.TotalCount)
     {
        <li><a class="next"
               href="@String.Format("{0}{1}{3}={2}&{4}={5}", Model.BaseUrl, Model.QueryStringToken, Model.Page + 1, Model.QueryStringParam, Model.QueryStringPageSizeParam, Model.PageSize)">&raquo;</a></li>
     }
 }