@using Indspire.Soaring.Engagement.Extensions

@model IEnumerable<Indspire.Soaring.Engagement.Database.Instance>

    @if (Model != null)
    {
        var list = Model as PagedList<Indspire.Soaring.Engagement.Database.Instance>;

        ViewData["Title"] = "Index";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";

        <div class="admin-backend__main-header">
            <div class="admin-backend__main-header-title">
                <span class="admin-backend__main-header-title-icon fa fa-calendar"></span>
                <span class="admin-backend__main-header-title-text">Events</span>
            </div>

            <div class="admin-backend__main-header-actions">
                <a class="admin-backend__main-header-actions-link" asp-action="Create" title="Create New Event">
                    <span class="admin-backend__main-header-actions-link-icon fa fa-plus fa-2x" aria-hidden="true"></span>
                </a>
            </div>
        </div>

        <div class="admin-backend__main-content admin-backend__users">

            @if (Model != null && Model.Count() > 0)
            {
                <table class="admin-backend__users-table table">
                    <thead>
                        <tr>
                            <th>
                               Name
                            </th>
                            <th>
                                Default?
                            </th>
                            <th class="table__actions">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DefaultInstance)
                                </td>
                                <td class="table__icons-row">
                                    <div class="table__icons-row-wrapper">
                                        <a asp-action="Edit" asp-route-id="@item.InstanceID" class="table__icons-row-icon" title="Edit Event">
                                            <span class="fa fa-pencil"></span>
                                        </a>
                                        <a asp-action="Details" asp-route-id="@item.InstanceID" class="table__icons-row-icon" title="View event Details">
                                            <span class="fa fa-info-circle"></span>
                                        </a>
                                        <a asp-action="Delete" asp-route-id="@item.InstanceID" class="table__icons-row-icon" title="Delete Event">
                                            <span class="fa fa-trash"></span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div>
                    No instances created yet.
                    <a asp-action="Create">Click here</a> to create a new instance.
                </div>
            }

            @if (list != null && list.TotalCount > 0)
            {
                @await Html.PartialAsync("_Pagination", list.GetPagination())
        }

        </div>
    }
