@model Indspire.Soaring.Engagement.Database.Award

@{
    ViewData["Title"] = "Award Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="admin-backend__main-header">
    <div class="admin-backend__main-header-title">
        <a class="admin-backend__main-header-title-back fa fa-chevron-left" asp-action="Index"></a>
        <span class="admin-backend__main-header-title-icon fa fa-info-circle"></span>
        <span class="admin-backend__main-header-title-text">Award Details</span>
    </div>

    <div class="admin-backend__main-header-actions">

    </div>
</div>

<div class="admin-backend__main-content">
    <table class="table__admin-info table">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.VendorID)
            </td>
            <td>
                @Html.DisplayFor(model => model.VendorID)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.AwardNumber)
            </td>
            <td>
                @Html.DisplayFor(model => model.AwardNumber)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Points)
            </td>
            <td>
                @Html.DisplayFor(model => model.Points)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.CreatedDate)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.ModifiedDate)
            </td>
        </tr>
        <tr>
            <td>
                Scan Link
            </td>
            <td>
                <a asp-action="Scan" asp-route-id="@Model.AwardNumber">Scan a QR Code (Award Points)</a>
            </td>
        </tr>
    </table>
    <a asp-action="Edit" asp-route-id="@Model.AwardID" class="blue-button">Edit</a>
</div>
