@using Indspire.Soaring.Engagement.Extensions

@model IEnumerable<Indspire.Soaring.Engagement.Database.Award>

@if (Model != null)
{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    var list = Model as PagedList<Indspire.Soaring.Engagement.Database.Award>;

<div class="admin-backend__main-header">
    <div class="admin-backend__main-header-title">
        <span class="admin-backend__main-header-title-icon fa fa-trophy"></span>
        <span class="admin-backend__main-header-title-text">Awards</span>
    </div>

    <form class="admin-backend__main-header-search" method="get" asp-action="Index">
        <div class="input input__text input__joined">
            <label class="admin-backend__main-header-search-label">Search Attendees</label>
            <input class="admin-backend__main-header-search-input" type="text" placeholder="Enter Number, Name or Keyword" name="search" value="@list.Search" />
            <button class="admin-backend__main-header-search-submit gray-button" type="submit">Search</button>
        </div>
    </form>

    <div class="admin-backend__main-header-actions">
        <a class="admin-backend__main-header-actions-link" asp-action="Create">
            <span class="admin-backend__main-header-actions-link-icon fa fa-plus fa-2x" aria-hidden="true">
            </span>
        </a>
    </div>
</div>

    <div class="admin-backend__main-content admin-backend__users">


        @if (Model != null && Model.Count() > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.AwardNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Points)
                        </th>
                        <th class="table__actions">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.AwardNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Points)
                            </td>
                            <td class="table__icons-row">
                                <div class="table__icons-row-wrapper">
                                    <a asp-action="Scan" asp-route-awardnumber="@item.AwardNumber">Scan</a>

                                    <a asp-action="Edit" asp-route-id="@item.AwardID" class="table__icons-row-icon">
                                        <span class="fa fa-pencil"></span>
                                    </a>
                                    <a asp-action="Details" asp-route-id="@item.AwardID" class="table__icons-row-icon">
                                        <span class="fa fa-info-circle"></span>
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@item.AwardID" class="table__icons-row-icon">
                                        <span class="fa fa-trash"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        }
        else
        {
            <div>
                No awards created yet.
                <a asp-action="Create">Click here</a> to create a new award.
            </div>
        }

        @if (list != null && list.TotalCount > 0)
        {
            @await Html.PartialAsync("_Pagination", list.GetPagination())
        }
    </div>
}