@model IEnumerable<Indspire.Soaring.Engagement.Database.Award>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="admin-backend__main-header">
    <div class="admin-backend__main-header-title">
        <span class="admin-backend__main-header-title-icon fa fa-trophy"></span>
        <span class="admin-backend__main-header-title-text">Awards</span>
    </div>

    <div class="admin-backend__main-header-actions">
        <a class="admin-backend__main-header-actions-link" asp-action="Create">

            <span class="admin-backend__main-header-actions-link-icon fa-stack">
                <i class="fa fa-trophy fa-stack-2x"></i>
                <i class="fa fa-plus fa-stack-1x"></i>
            </span>
        </a>
    </div>
</div>


<div class="admin-backend__main-content admin-backend__awards">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EventNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Points)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Deleted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Points)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Deleted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedDate)
                    </td>
                    <td class="table__icons-row">
                        <div class="table__icons-row-wrapper">
                            <a asp-action="Edit" asp-route-id="@item.AwardID" class="table__icons-row-icon">
                                <span class="fa fa-pencil"></span>
                            </a>
                            <a asp-action="Details" asp-route-id="@item.AwardID" class="table__icons-row-icon">
                                <span class="fa fa-info-circle"></span></a>
                            <a asp-action="Delete" asp-route-id="@item.AwardID" class="table__icons-row-icon">
                                <span class="fa fa-trash"></span></a>
                            </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>