@model Indspire.Soaring.Engagement.ViewModels.AwardScanViewModel



@if (Model != null)
{
    var award = Model.Award;
    if (Model.Award != null)
    {
        ViewData["Title"] = "Award Points for " + award.Name;
    }

    <div class="scanner">

        <div class="admin-backend__top">
            <img class="admin-backend__top-logo" src="~/images/Indspire-logo.jpg" alt="Indspire" />

            @if (Model.Award != null)
            {
                <span class="admin-backend__top-text">Award @award.Points Points for @award.Name</span>
            }
        </div>

        <div class="scanner-content">
            <div class="scanner-content__wrapper">
                @if (Model.AwardNumberInvalid && Model.HasAwardNumber)
                {
                    <p>The code you entered is not valid. Please try again.</p>
                }

                @if (Model.AwardNumberInvalid || !Model.HasAwardNumber)
                {
                    <form method="post" asp-controller="Award" asp-action="PostScan">
                        <p>This page is intended for Vendors at the conference to
                        issue points to attendees by scanning their QR code.</p>
                        
                        <label for="AwardNumber">Enter your Code</label>
                        
                        <input type="text" name="AwardNumber" />
                        
                        <button type="submit" class="blue-button">Submit Code</button>
                    </form>
                }
                else
                {
                    if (award != null)
                    {
                        <h5 class="desktop-hide">Award @award.Points Points for @award.Name</h5>
                    }

                    <h6>Scan a QR code below</h6>
                    <qr-scanner params="{ type: 'Award', awardNumber: '@Model.AwardNumber' }"></qr-scanner>
                }
            </div>
        </div>
    </div>
}