@model Indspire.Soaring.Engagement.Database.Redemption

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="admin-backend__main-header">
    <div class="admin-backend__main-header-title">
        <a class="admin-backend__main-header-title-back fa fa-chevron-left" asp-action="Index"></a>
        <span class="admin-backend__main-header-title-icon fa fa-info-circle"></span>
        <span class="admin-backend__main-header-title-text">Redemption Item Details</span>
    </div>

    <div class="admin-backend__main-header-actions">

    </div>
</div>

<div class="admin-backend__main-content">
    <table class="table__admin-info table">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.RedemptionNumber)
            </td>
            <td>
                @Html.DisplayFor(model => model.RedemptionNumber)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Description)
            </td>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.PointsRequired)
            </td>
            <td>
                @Html.DisplayFor(model => model.PointsRequired)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.CreatedDate)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.ModifiedDate)
            </td>
        </tr>
        <tr>
            <td>
                Scan Link
            </td>
            <td>
                <a href="/redemption/scan?RedemptionNumber=@Model.RedemptionNumber">Scan a QR Code (Redeem Prize/Entry)</a>
            </td>
        </tr>
        </table>

    <a asp-action="Edit" asp-route-id="@Model.RedemptionID" class="blue-button">Edit</a>
</div>
