@using Indspire.Soaring.Engagement.Extensions

@model IEnumerable<Indspire.Soaring.Engagement.Database.Redemption>

@if (Model != null)
{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    <div class="admin-backend__main-header">
        <div class="admin-backend__main-header-title">
            <span class="admin-backend__main-header-title-icon fa fa-gift"></span>
            <span class="admin-backend__main-header-title-text">Redemptions</span>
        </div>

        <div class="admin-backend__main-header-actions">
            <a class="admin-backend__main-header-actions-link" asp-action="Create">
                <span class="admin-backend__main-header-actions-link-icon fa fa-plus fa-2x" aria-hidden="true">

                </span>
            </a>
        </div>
    </div>

    <div class="admin-backend__main-content admin-backend__users">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.RedemptionNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedDate)
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RedemptionNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedDate)
                        </td>
                        <td class="table__icons-row">
                            <div class="table__icons-row-wrapper">
                                <a asp-action="Edit" asp-route-id="@item.RedemptionID" class="table__icons-row-icon">
                                    <span class="fa fa-pencil"></span>
                                </a>
                                <a asp-action="Details" asp-route-id="@item.RedemptionID" class="table__icons-row-icon">
                                    <span class="fa fa-info-circle"></span>
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.RedemptionID" class="table__icons-row-icon">
                                    <span class="fa fa-trash"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @{
            var list = Model as PagedList<Indspire.Soaring.Engagement.Database.Redemption>;
        }

        @if (list != null)
        {
            @await Html.PartialAsync("_Pagination", list.GetPagination())
        }
    </div>
}
