@model Indspire.Soaring.Engagement.Database.Attendee

@{
    ViewData["Title"] = "Delete Attendee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="admin-backend__main-header">
    <div class="admin-backend__main-header-title">
        <a class="admin-backend__main-header-title-back fa fa-chevron-left" asp-action="Index"></a>
        <span class="admin-backend__main-header-title-icon fa fa-trash"></span>
        <span class="admin-backend__main-header-title-text">Delete Attendee</span>
    </div>

    <div class="admin-backend__main-header-actions">

    </div>
</div>
<div class="admin-backend__main-content admin-user-info">
    <div class="rich-text">
        <p>Are you sure you want to delete this attendee?</p>
    </div>

    <table class="table__admin-info table">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.UserNumber)
            </td>
            <td>
                @Html.DisplayFor(model => model.UserNumber)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ExternalID)
            </td>
            <td>
                @Html.DisplayFor(model => model.ExternalID)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.CreatedDate)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.ModifiedDate)
            </td>
        </tr>
    </table>

    <form asp-action="Delete">
        <input type="hidden" asp-for="UserID" />
        <input type="submit" value="Delete" class="red-button" />
    </form>
</div>
