@using Indspire.Soaring.Engagement.Extensions
@model Indspire.Soaring.Engagement.ViewModels.UserDetailsViewModel

@{
    ViewData["Title"] = "Attendee Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="admin-backend__main-header">
    <div class="admin-backend__main-header-title">
        <a class="admin-backend__main-header-title-back fa fa-chevron-left" asp-action="Index"></a>
        <span class="admin-backend__main-header-title-icon fa fa-info-circle"></span>
        <span class="admin-backend__main-header-title-text">Attendee Details</span>
    </div>

    <div class="admin-backend__main-header-actions">

    </div>
</div>

<div class="admin-backend__main-content">    

    <table class="table__admin-info table">
        <tr>
            <td colspan="2" class="text-center">
                @Html.Partial("~/Views/Attendee/QRCodeBadge.cshtml", Model.User)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.User.UserNumber)
            </td>
            <td>
                @Html.DisplayFor(model => model.User.UserNumber)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.User.ExternalID)
            </td>
            <td>
                @Html.DisplayFor(model => model.User.ExternalID)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.User.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.User.CreatedDate)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.User.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.User.ModifiedDate)
            </td>
        </tr>
        <tr>
            <td>
                Points Balance
            </td>
            <td>
                @Model.PointsBalance
            </td>
        </tr>
        <tr>
            <td>
                Test/Scan QR Code
            </td>
            <td>
                <a asp-action="Scan">Check Point Balance</a>
            </td>
        </tr>
        <tr>
            <td>
                Print QR Code
            </td>
            <td>
                <a asp-action="PrintQRCode" asp-route-usernumber="@Model.User.UserNumber">Print</a>
            </td>
        </tr>
    </table>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.User.UserID" class="blue-button">Edit</a>
    </div>
</div>

