@using Indspire.Soaring.Engagement.Extensions

@model IEnumerable<Indspire.Soaring.Engagement.Database.Attendee>

@if (Model != null)
{
    var list = Model as PagedList<Indspire.Soaring.Engagement.Database.Attendee>;

    ViewData["Title"] = "Attendees";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    <div class="admin-backend__main-header">
        <div class="admin-backend__main-header-title">
            <span class="admin-backend__main-header-title-icon fa fa-user"></span>
            <span class="admin-backend__main-header-title-text">Attendees (@list.TotalCount)</span>
        </div>

        <form class="admin-backend__main-header-search" method="get" asp-action="Index">
            <div class="input input__text input__joined">
                <label class="admin-backend__main-header-search-label">Search Attendees</label>
                <input class="admin-backend__main-header-search-input" type="text" placeholder="Enter Number or External ID" name="search" value="@list.Search" />
                <button class="admin-backend__main-header-search-submit gray-button" type="submit">Search</button>
            </div>
        </form>

        <div class="admin-backend__main-header-actions">

            <a class="admin-backend__main-header-actions-link" title="Create New Attendee" asp-action="Create">
                <span class="admin-backend__main-header-actions-link-icon fa fa-user-plus fa-2x" aria-hidden="true"></span>
            </a>
            <a class="admin-backend__main-header-actions-link" title="Check Attendee Point Balance" asp-action="Scan">
                <span class="admin-backend__main-header-actions-link-icon fa fa-qrcode fa-2x" aria-hidden="true"></span>
            </a>
            <a class="admin-backend__main-header-actions-link" title="Bulk Create Attendees" asp-action="BulkCreate">
                <span class="admin-backend__main-header-actions-link-icon fa fa-users fa-2x" aria-hidden="true"></span>
            </a>
            <a class="admin-backend__main-header-actions-link" title="Print QR Codes for All Attendees" asp-action="Print">
                <span class="admin-backend__main-header-actions-link-icon fa fa-print fa-2x" aria-hidden="true"></span>
            </a>
            <a class="admin-backend__main-header-actions-link" asp-action="List" title="List Top Attendees">
                <span class="admin-backend__main-header-actions-link-icon fa fa-table fa-2x" aria-hidden="true">
                </span>
            </a>
        </div>
    </div>

    <div class="admin-backend__main-content admin-backend__users">

        @if (Model != null && Model.Count() > 0)
        {
            <table class="admin-backend__users-table table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UserNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ExternalID)
                        </th>
                        <th class="table__actions">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExternalID)
                            </td>
                            <td class="table__icons-row">
                                <div class="table__icons-row-wrapper">
                                    <a asp-action="Edit" asp-route-id="@item.UserID" class="table__icons-row-icon">
                                        <span class="fa fa-pencil"></span>
                                    </a>
                                    <a asp-action="Details" asp-route-id="@item.UserID" class="table__icons-row-icon">
                                        <span class="fa fa-info-circle"></span>
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@item.UserID" class="table__icons-row-icon">
                                        <span class="fa fa-trash"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div>
                No attendees created yet.
                <a asp-action="Create">Click here</a> to create a new attendee.
            </div>
        }

        @if (list != null && list.TotalCount > 0)
        {
            @await Html.PartialAsync("_Pagination", list.GetPagination())
        }

    </div>
}